<div class="btn-group">
    <a class="btn btn-primary" asp-area="Administration" asp-controller="Articles" asp-action="Index">Articles</a>
    <a class="btn btn-primary" asp-area="Administration" asp-controller="Authors" asp-action="Index">Authors</a>
    <a class="btn btn-primary" asp-area="Administration" asp-controller="Categories" asp-action="Index">Categories</a>
    <a class="btn btn-primary" asp-area="Administration" asp-controller="Comments" asp-action="Index">Comments</a>
    <a class="btn btn-primary" asp-area="Administration" asp-controller="ContactForms" asp-action="Index">ContactForms</a>
    <a class="btn btn-primary" asp-area="Administration" asp-controller="Exercises" asp-action="Index">Exercises</a>
    <a class="btn btn-primary" asp-area="Administration" asp-controller="MuscleGroups" asp-action="Index">MuscleGroups</a>
    <a class="btn btn-primary" asp-area="Administration" asp-controller="Posts" asp-action="Index">Posts</a>
    <a class="btn btn-primary" asp-area="Administration" asp-controller="Quotes" asp-action="Index">Quotes</a>
    <a class="btn btn-primary" asp-area="Administration" asp-controller="Sets" asp-action="Index">Sets</a>
    <a class="btn btn-primary" asp-area="Administration" asp-controller="Votes" asp-action="Index">Votes</a>
    <a class="btn btn-primary" asp-area="Administration" asp-controller="WorkoutExercises" asp-action="Index">WorkoutExercises</a>
    <a class="btn btn-primary" asp-area="Administration" asp-controller="Workouts" asp-action="Index">Workouts</a>
    <a class="btn btn-primary" asp-area="Administration" asp-controller="WorkoutTypes" asp-action="Index">WorkoutTypes</a>
</div>