@model ErrorViewModel
@{ this.ViewData["Title"] = "Error"; }

<head>
    <link rel="stylesheet" href="~/css/error.min.css">
</head>

<body>
    <div class="browser">
        <div class="controls">
            <i></i>
            <i></i>
            <i></i>
        </div>

        <div class="eye"></div>
        <div class="eye"></div>
        <div class="mouth">
            <div class="lips"></div>
            <div class="lips"></div>
            <div class="lips"></div>
            <div class="lips"></div>
            <div class="lips"></div>
            <div class="lips"></div>
            <div class="lips"></div>
            <div class="lips"></div>
        </div>
    </div>

    <h1>Unfortunately, something has gone wrong.</h1>
    <p>We're unable to fulfill your request. Rest assured we have been notified and are looking into the issue. Please refresh your browser. If the error continues, please contact our support team.</p>
</body>