@inject Microsoft.Extensions.Configuration.IConfiguration Configuration
@using FitnessCare.Web.ViewModels.Blog
@model EditArticleInputModel
<section class="py-5">
    <div class="container">
        <h1 style="margin: 2%; text-align: center;">Add Article</h1>
        <div style="padding: 5%;">

            <script src="/lib/tinymce/tinymce.min.js" type="text/javascript"></script>
            <script>tinymce.init({ selector: 'textarea' });</script>

            <form method="post" id="editForm" enctype="multipart/form-data">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Title"></label>
                    <input asp-for="Title" class="form-control">
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="custom-file">
                    <input type="file" accept="image/*" asp-for="PictureFile" class="custom-file-input" id="inputGroupFile01"
                           aria-describedby="inputGroupFileAddon01">
                    <label class="custom-file-label" for="inputGroupFile01">Choose image</label>
                    <span asp-validation-for="PictureFile" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Content"></label>
                    <textarea rows="3" asp-for="Content" class="form-control"></textarea>
                    <span asp-validation-for="Content" class="text-danger"></span>
                </div>
                <input type="hidden" id="RecaptchaValue" name="RecaptchaValue" />
                <input type="hidden" asp-for="Id" />
            </form>

            <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#staticBackdrop">Save Changes</button>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Are you sure you want to save the changes?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="editForm.submit()">Save Changes</button>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts
{
    <script src="https://www.google.com/recaptcha/api.js?render=@this.Configuration["GoogleReCaptcha:Key"]"></script>
    <script>
        grecaptcha.ready(function () {
            grecaptcha.execute('@this.Configuration["GoogleReCaptcha:Key"]', { action: 'contact_form' }).then(function (token) {
                document.getElementById("RecaptchaValue").value = token;
            });
        });
    </script>
}