@inject Microsoft.Extensions.Configuration.IConfiguration Configuration
@using FitnessCare.Web.ViewModels.Workouts
@model ExerciseInputModel


<div class="container">

    @if (this.TempData.ContainsKey("Message"))
    {
        <div class="alert alert-success alert-dismissable">
            @this.TempData["Message"]
            <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
    }

    <h1 style="margin: 2%; text-align: center;">Add Exercise</h1>
    <div style="padding: 5%;">

        <form method="post" id="form">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" name="Name" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MuscleGroupId"></label>
                <select asp-for="MuscleGroupId" class="form-control" asp-items="@Model.MuscleGroups"></select>
                <span asp-validation-for="MuscleGroupId" class="text-danger"></span>
            </div>
            <input type="hidden" id="RecaptchaValue" name="RecaptchaValue" />
            <input type="hidden" asp-for="WorkoutId" name="WorkoutId" value="@ViewContext.RouteData.Values["id"]" />
            <div id="SetsContainer">
                <label style: hidden asp-for="Sets"></label>
                <a class="btn btn-success form-group" onclick="AddSet()">Add Set</a>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Add Exercise</button>
            </div>
        </form>
        <div>
            <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Finish</a>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        var setIndex = 0;
    </script>

    <script>
        function AddSet() {
            $("#SetsContainer").append(`<div class="form - group" id="Sets${setIndex}">Set${setIndex + 1}Reps:<input type="text" name="Sets[${setIndex}].Reps" /> <span asp-validation-for="Sets[${setIndex}.Reps]" class="text-danger"></span></div ><br />`);

            setIndex++;
        }
    </script>
}