<head>
    <link rel="stylesheet" href="~/css/scheduler.css">
</head>

<a class="btn btn-primary" asp-controller="Scheduler" asp-action="AddWorkout">Add workout</a>

<calendar month="12" year="2020" events="@Model" />